@use "../../Styles/variables" as *;

.welcome {
    color: #fff;
    margin-bottom: 2rem;
}

.edit-button {
    border-color: $main-color;
    background-color: $main-color;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}