$main-color: #00bc77;
$secondary-color: #2c3e50;
$active-color: #42b983;
$dark-background-color: #12002b;
$feature-item-color: #222;

@mixin text {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $secondary-color;
}