@use '../../Styles/variables' as *;

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.container {
    flex: 1;
    background-color: $dark-background-color;

    &.light-bg {
        background-color: white;
    }
}