@use '../../Styles/variables' as *;

.inlineForm {
    margin: 20px auto;
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 30px;
    text-align: center;
    color: white;
    font-size: 1rem;
    background-color: $main-color;

    h2 {
        margin-top: 0;
    }

    &__field {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        label {
            font-size: 1rem;
            margin-right: 0.5rem;
        }

        input {
            flex: 1;
            padding: 0.5rem;
            border: 1px outset $secondary-color;
            font-size: 0.9rem;
        }
    }

    &__error {
        color: $secondary-color;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__buttonsWrapper {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    &__button {
        flex: 1;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
        background-color: $secondary-color;
        color: white;
        font-weight: bold;
    }
}